In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.5.3

In [5]:
obj =  pd.Series([1, "Keshav", 1.69, False])    # object as list

In [6]:
print(obj)

0         1
1    Keshav
2      1.69
3     False
dtype: object

In [7]:
 # dtype = data type

In [8]:
print(obj[0])

1

In [9]:
print(obj[2])

1.69

In [10]:
obj.values   # reteive the underlying array of values from the 'obj' series object.

array([1, 'Keshav', 1.69, False], dtype=object)

In [19]:
obj1 = pd.Series([4, 'Saugat', True, 23.422], index = ['s', 'a', 'u', 'g']) # in list indexing is fixed not greater/lesser than what is expected

In [17]:
print(obj1)

s         4
a    Saugat
u      True
g    23.422
dtype: object

In [20]:
print(obj1['a'])

Saugat

In [21]:
obj1.index

Index(['s', 'a', 'u', 'g'], dtype='object')

In [73]:
dict1 = {'Name': 122,
         'Age': 69,
         'Salary': 10,
        }

In [74]:
dict1

{'Name': 122, 'Age': 69, 'Salary': 10}

In [75]:
a = pd.Series(dict1)

In [76]:
print(a)

Name      122
Age        69
Salary     10
dtype: int64

In [77]:
dict1["Name"]

122

In [78]:
a[a>=69]    # make a series first for this

Name    122
Age      69
dtype: int64

In [79]:
# a[a>=69] = 100   # changing multiple values at once

In [80]:
a

Name      122
Age        69
Salary     10
dtype: int64

In [81]:
'Tom' in a

False

In [82]:
'Age' in a

True

In [83]:
'Age' in dict1

True

In [84]:
# Performing element wise division

In [85]:
a

Name      122
Age        69
Salary     10
dtype: int64

In [86]:
a/10

Name      12.2
Age        6.9
Salary     1.0
dtype: float64

In [87]:
# Performing exponentiation

In [94]:
a ** 2    # can only be performed on pd object not on dictionary

Name      14884
Age        4761
Salary      100
dtype: int64

In [96]:
# Performing isnull() operation

In [97]:
a.isnull()

Name      False
Age       False
Salary    False
dtype: bool