In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
s = pd.Series([1,2,3,4], index = ['a','b','c','d'])

In [4]:
s

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
s['a']

1

In [49]:
s2 = s.reindex(['b','d','a','c','e'])

In [50]:
s2

b    2.0
d    4.0
a    1.0
c    3.0
e    NaN
dtype: float64

In [51]:
# Nan = not a number

In [52]:
s3 = pd.Series(['blue','yellow','purple'], index = [0,2,4])

In [53]:
s3

0      blue
2    yellow
4    purple
dtype: object

In [54]:
# ffil= forward fill(choose the nearest value)

In [55]:
s3.reindex(range(6),method = "ffill")

0      blue
1      blue
2    yellow
3    yellow
4    purple
5    purple
dtype: object

In [65]:
df = pd.DataFrame(np.arange(9).reshape(3,3), index = ['a','b','c'], columns = ["Pk", "Tom", "Mike"
                                                                    ])

In [66]:
df

   Pk  Tom  Mike
a   0    1     2
b   3    4     5
c   6    7     8

In [67]:
df2 = df.reindex(['d','c','b','a'])

In [68]:
df2

    Pk  Tom  Mike
d  NaN  NaN   NaN
c  6.0  7.0   8.0
b  3.0  4.0   5.0
a  0.0  1.0   2.0

In [72]:
names = pd.Index(["Kate", "Tim", "Tom"])

In [73]:
df.set_index(names)

      Pk  Tom  Mike
Kate   0    1     2
Tim    3    4     5
Tom    6    7     8

In [74]:
s = pd.Series(np.arange(5.0), index = ['a','b','c','d','e'])

In [75]:
s

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [77]:
new_s = s.drop('b')

In [ ]:
|